<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

    <div class="captcha" >
        <p class="child" th:text="${captcha}"/>
    </div>

    <form action="/">
        <input type="submit" value="Regenerate" />
    </form>

    <form action="#" th:action="@{/register}" th:object="${user}"
          method="post">
        <p>Employee ID</p>
        <input type="text" name="name" field="*{name}">
        <p>Password</p>
        <input type="password" name="password" field="*{password}">
        <p>Captcha</p>
        <input type="text" name="captcha" field="*{captcha}">
        <Button class="loginbtn" type="submit" value="Sign In" style="color: white">Sign In</Button>
    </form>


    <p class="response" th:text="${response}"/>


</body>
</html>